h1.mat-line.repo-title {
  font-weight: bold !important;
  font-size: 14px !important;
}

p.mat-line.repo-date {
  color: #989898;
  padding-bottom: 5px !important;
}

mat-list-item {
  padding-bottom: 10px !important;
}
