html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

mat-form-field {
  width: 100%;
}

.mat-list-item-content {
  padding: 15px 0 !important;
}

img {
  max-width: 100%;
}
